.area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  var(--area-door-width);
    height: var(--area-door-height);
    margin: 5px;
}

.frame {
    display: flex;
    flex-grow: 1;
    border-left: 5px solid brown;
    border-top: 5px solid brown;
    border-right: 5px solid brown;
    width: 95%;
}

.door {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: chocolate;
    padding: 15px;
}

.floor {
    width: 100%;
    height: 10px;
    background-color: #ddd;
}

.knob {
    position: absolute;
    align-self: flex-start;
    top: calc(0.40 * var(--area-door-height));
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: brown;
}

.number {
    font-size: 3rem;
}

.selected {
    border-left: 5px solid  yellow;
    border-top: 5px solid   yellow; 
    border-right: 5px solid yellow;
}

.selected .number {
    color: yellow;
}

.selected .knob {
    background-color: yellow;
}